#main_menu {
  border-radius: 0;
  background-color: #ff0000;
  color: white;
}

#main_menu .active_item,
#main_menu .item {
  color: white;
}

.account {
  color: white;
  margin: auto;
  padding-right: 10px;
}

.account:last-child {
  margin-bottom: auto;
}
